@using TaskManager.Business.BusinessEntities
@model IEnumerable<Step>

<div>
    @{
        foreach (var step in Model)
        {
            <div>
                <div><input type="button" 
                            value="@step.Label" 
                            id="@step.Id" /></div>
                <div id="@step.Label.Substring(0,8)" class="step"></div>
            </div>
        }
    }
</div>




<style>

    .step {
        left: 500px;
        position: relative;
    }
</style>