@model ViewModel

@{
    ViewData["Title"] = "Task Manager";
}

<div class="text-center">
    <h1 class="display-4">Task Manager</h1>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <b>Tasks: </b>
    <br />
    @foreach (var task in Model.ListTasks)
    {
        <table>
            <tr>
                <td></td>
                <td>
                    <input type="button" value=@Html.DisplayFor(m=>task.Name) id=@Html.DisplayFor(m=>task.Id) onclick="loadChildren('@task.Id');" />
                </td>

            </tr>
            <tr id="task_@task.Id">

            </tr>
        </table>

        <br />
        <br />
    }
}

<script type="text/javascript">

    function loadChildren(e) {
        console.log(e);

        var url = "https://localhost:7143/getsteps/" + e;

        $.get(url, function (data) {

            for (var i = 0; i < data.length; i++)
            {
                $("#task_" + e).append("<td><input type='button' id=" + data[i].id +  "value=" + data[i].label + " /></td>")
            }
            

        });

        return false;
    }
</script>